/**
 * Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/
/**
 * Styles
 *
 * Frontend+Backend.
 */
.wp-block-ab-animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .wp-block-ab-animate.scroll-hide {
    opacity: 0; }
