.esquinas {
    border-radius: 15px;
	height: 100%;
	width: 100%;

}



.titol {
	color: black;
	background-color: #DF013A;
}


th.normal {
	color: black;
	background-color: #FFFFFF;
	text-align: left;
	font-size: 70%;
}


td.normal {
	color: black;
	background-color: #FFFFFF;
	text-align: left;
	font-size: 45%;
}


td.centrado {
	color: black;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 75%;
}


.caract {
	color: black;
	background-color: #FFFFFF;

	height: 50%
}


td.verd {
	color: black;
	background-color: #55FF55;
	text-align: center;
}
