* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  background-color: #220033;
  padding: 1px;
  text-align: center;
  font-size: 12px;
  color: #cc66ff;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 13%;
  height: 1000px; /* only for demonstration, should be removed */
  background: #220033;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  color: #cc66ff;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 65%;
  background-color: #220033;
  color: #cc66ff;
  height: 1000px; /* only for demonstration, should be removed */
}

aside{
	float: left;
	width: 22%;
	background-color:  #220033;
	height: 1000px;
	padding:10px;
	list-style: none;
	color: #cc66ff;

	}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #b31aff;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;

  }
}

.title{
	font-size: 45px;
	text-align: center;
	  color: #cc66ff;

	}
.links{
	color: white;
	font-size:22px;
	padding: 20px;
	font align: center;
	}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
padding: 15px;
text-align: center;
}
