th,td {
  padding:10px;
  width:100px;
  color:white;
  text-align:center;

}
table {
  border: 1px solid black;
  border-collapse: collapse;
}

.vermell {
  background-color:red;
}

.groc {
  background-color:yellow;
}

.verd {
  background-color:green;
}

.blau {
  background-color:blue;
}
