.feminismo {
              background-color:#8B008B;
              color:#FFFFFF;
              font-weight:bold;
              font-size:18px;
}

a:hover {
          background-color:#8B008B;
          color:#FFFFFF;
          font-weight:bold;
          font-size:18px;
}

p {
  font-size:15px;
  padding:10px;
}
