/* media/css/main.css */
/**
* -----------------------------------------
* REFERENCE COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*/

/** CUSTOM FONTS */
@import url('/media/css/open-sans-woff.css');
@import url('/media/css/open-sans-woff2.css');

/** GLOBAL CONFIGURATION */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #0D0A0B;
  font-size: 11.5pt;
}

p {
  margin-bottom: 0.5rem;
}

dl, ol, ul {
  margin-bottom: 0.5rem;
}

.table td, .table th {
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #336791;
  /*margin: 0 0 0.5em 0;*/
}

h2 {
  font-size: 1.6em;
  margin: 1em 0;
}

h3 {
  font-size: 1.4em;
  font-weight: initial;
}

.h4, h4 {
  font-size: 1.1rem;
  text-transform: capitalize !important;
}

.h5, h5 {
  font-size: 0.98rem;
}

#pgContentWrap h2:after, #pgSideNav h2:after {
  background-color: #e7eae8;
  content: '\a0';
  flex-grow: 1;
  height: 2px;
  position: relative;
  margin: .5em 0 .5em .75em;
}

#pgContentWrap h2, #pgSideNav h2 {
  display: flex;
  flex-direction: row;
}

h2.centered-lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

h2.centered-lines:after, h2.centered-lines:before {
  background-color: #e7eae8;
  content: '\a0';
  flex-grow: 1;
  height: 2px;
  position: relative;
  margin: 0.5em 0;
}

h2.centered-lines:after {
  margin-left: 0.75em;
}

h2.centered-lines:before {
  margin-right: 0.75em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}

a, .news a {
  color: #336791;
  font-weight: 600;
  text-decoration: none;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:hover, a:active {
  color: #193145;
  text-decoration: none;
}

b, strong, th {
  font-weight: 600;
  color: #474747 !important;
}

i, em {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 2px #E7EAE8;
  margin: 0 0 3em 0;
}

.image {
  width: 100%;
  margin: 1em 0 2em 0;
}

/**
p, ul, ol, dl, table {
  margin-bottom: 3em;
}*/

/** Global styles */

.pg-bg-blue {
  background-color: #336791;
}

.pg-bg-light-blue {
  background-color: #008bb9;
}

.pg-bg-purple {
  background-color: #e6E6fa;
}

.pg-bg-gray {
  background-color: #e7eae8;
}

.pg-border-color-blue {
  border-color: #336791;
}

.pg-text-blue {
  color: #336791;
}

.pg-text-light-blue {
  color: #008bb9;
}

.pgFrontFeature {
  background: #F5F5F5 url(/media/img/feature/feature_elephant.png) right bottom no-repeat;
  /* background: #F5F5F5 url(/media/img/feature/feature_gears.png) right bottom no-repeat; */
}

.pgFrontContainer {
  padding: 1em 2em;
}

/* Utility */
.ws-pre {
  white-space: pre;
}

/* #BLOCKQUOTE */

blockquote {
  border-left: solid 5px #E7EAE8;
  padding: 0em 4em 0em .5em;
  margin: 1em 0em 1em 0em;
  font-style: italic;
}

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-bottom: 10px;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

/* # CAROUSEL */

.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 0 auto 4rem auto;
  padding: 0 3rem;
}
.carousel .item {
  text-align: center;
  overflow: hidden;
  min-height: 12rem;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  margin-top: 4rem;
  padding: 0 1rem;
}
.carousel .overview {
  font-style: italic;
  color: #999;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #336791;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* #FEATURED SECTIONS */

.community {
  width: 1em !important;
  margin: 0 5px 0 0 !important;
  display: inline-block;
}

.feature {
  text-align: center;
  padding: 2em;
}

.feature ul, ul.feature {
  padding: 0;
}

.feature li {
  list-style-type: none;
  padding-left: 0.3em;
  text-align: left;
}

.feature i {
  font-size: 2.5em;
  margin: 20px 0;
  color: #336791;
}

.feature img {
  width: 2.5em;
  margin: 20px 0;
}

.feature p {
  text-align: left;
}

.feature-grid {
  background-color: #336791;
  text-align: center;
  padding: 3em 0;
  border: solid 1px #fff;
}

.feature-grid h3 {
  color: #fff;
}

.feature button.btn.btn-center.btn-primary {
  position: relative;
  bottom: 0;
  margin: 0.25rem auto;
}

.text {
  margin-bottom: 2.5em;
}

li.non-badged {
  padding-left: 2em;
}

/* #LIST */

#footer ul {
  cursor: default;
  padding: 0;
}

a.icon {
  text-decoration: none !important;
}

footer img {
  height: 2rem;
  margin-bottom: 1rem;
}

#footer ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 .2em;
  font-size: 2em;
}

#footer li:hover a.fa-twitter {
  color: #2DAAE4;
}

#footer a.fa-twitter {
  color: #000;
}

#footer li:hover a.fa-github {
  color: #000;
}

#footer li:hover a.fa-google-plus-g {
  color: #DA2713;
}

ul.errorlist {
  color: #bd4147;
  font-weight: 600;
  list-style-type: none;
  padding: 0;
}

ul.meta {
  font-size: 0.85em;
  padding-left: 0;
}

ul.meta li {
  display: inline-block;
  margin-right: 1em;
}

ul.meta li i {
  margin-right: 4px;
}

ul.divided > li {
  border-top: solid 2px #e7eae8;
  padding-top: 1.35em;
  margin-top: 1.35em;
  list-style: none;
}

ul.divided > li:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

.divided h3 {
  font-size: 1.2em;
}

ul.bold {
  font-weight: 600;
  list-style-type: none;
  padding-left: 0;
}

/* #ICONS */

.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/** BASE STYLES */

/** SHOUTOUT BOX */
.pg-shout-box {
  background-color: #336791;
  font-weight: 600;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.pg-shout-box a {
  color: white;
  text-decoration: underline;
}

.pg-shout-box a:hover {
  text-decoration: underline;
}

/* #JUMBOTRON */

.pg-jumbotron {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/media/img/misc/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin: 0;
  text-align: center;
}

.pg-jumbotron-header {
  font-size: 2.5rem;
}

/* #CTA */

.cta {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin: 0;
}

.cta-text {
  padding: 4em;
  text-align: center;
  color: #fff;
  background-color: #336791;
}

.cta-text h2 {
  color: #fff;
}

.cta-1 {

}

.cta-2 {
  background-image: url("/media/img/misc/bugs.jpg");
}

.cta-3 {
  background-image: url("/media/img/misc/training.jpg");
}

/* #MARGIN */

.margin {
  margin: 0 auto 4em auto;
}

/* #FOOTER */

#footer {
  text-align: center;
  padding: 5em 0 2em 0;
}

#footer a {
  color: #336791;
}

/* #LIST DESKTOP */

ul.actions {
  text-align: center;
  margin: 2em 0 0 0;
}

/* #SIDEBAR DESKTOP */

.sidebar {
  padding-top: 6em;
}

.col-lg-7 {
  padding-top: 4em;
}

.navbar .logo {
  height: 2rem;
  margin-left: 0;
  margin-bottom: 0;
}

.nav-item > a {
  font-weight: 400;
}

.logo {
  height: 2rem;
  margin-left: 5px;
  margin-bottom: 5px;
}

.navbar {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: all 0.3s;
}

/* #SIDEBAR UL STYLING */

#pgSideNav {
  padding: 1em;
}

#pgSideNav a {
  color: #336791;
  font-weight: normal;
}

#pgSideNav ul {
  list-style-type: circle;
  padding-left: 1.3em;
}

/* DOCUMENTATION */
/*
 * The documentation classes are divided up by newer/older version of the docs
 * Newer version of the docs are "lowercase" classed
 * Older version of the docs are "UPPERCASE" classed
 * Also, newer styles will be in classes vs. older ones that have i
 */

.docs-version-selected {
  font-weight: 600;
  text-decoration: underline;
}

/**
 * docContent represents the main "box" where the documentation is rendered.
 * We namespace everything to ensure these styles do not interfere across the
 * rest of the site
 */

/**
 * General styles
 */
#docContent {
  font-size: 0.9rem;
  margin-top: 1rem;
}

#docContent p {
  margin-bottom: 1rem;
}

#docContent dt {
  font-weight: 600;
}

#docContent hr {
  margin: 0 0 0.5em 0;
}

/* #docContent hr.c1 {
  margin: 0 0 3em 0;
} */

/* For code, order matters here.
 * For instance, we don't want to have any any padding on code blocks that
 * are within the "screen" element
 * This is also higher up as some inherited rules affected the display of the
 * code in certain areas
 */

#docContent br.table-break {
  display: none;
}

#docContent pre {
  padding: 0.8rem;
}

pre,
code,
#docContent kbd,
#docContent tt.LITERAL,
#docContent tt.REPLACEABLE {
  font-size: 0.9rem !important;
  color: inherit !important;
  background-color: #f8f9fa;
  border-radius: .25rem;
  margin: .6rem 0;
  font-weight: 400;
}

#docContent .note pre,
#docContent .note code,
#docContent .note kbd,
#docContent .note tt.LITERAL,
#docContent .note tt.REPLACEABLE,
#docContent .warning pre,
#docContent .warning code,
#docContent .warning kbd,
#docContent .warning tt.LITERAL,
#docContent .warning tt.REPLACEABLE,
#docContent .tip pre,
#docContent .tip code,
#docContent .tip kbd,
#docContent .tip tt.LITERAL,
#docContent .tip tt.REPLACEABLE,
#docContent .caution pre,
#docContent .caution code,
#docContent .caution kbd,
#docContent .caution tt.LITERAL,
#docContent .caution tt.REPLACEABLE {
  background-color: transparent !important;
  border: none;
  padding: 0 !important;
}

#docContent .SCREEN code,
#docContent .screen code {
  padding: 0;
}

#docContent .USERINPUT > code,
#docContent .userinput > code {
  font-weight: 600;
}

#docContent .REPLACEABLE,
#docContent tt.REPLACEABLE,
#docContent .replaceable {
  font-weight: 800;
  font-style: italic;
}

#docContent .REPLACEABLE > code,
#docContent .replaceable > code {
  font-weight: 800;
}

/**
 * Documentation Tables
 */
#docContent .table .title > strong,
#docContent .TABLE,
#docContent .TABLE b {
  color: #336791 !important;
  font-weight: 600;
}

 #docContent table.table,
 #docContent table.informaltable,
 #docContent table.CALSTABLE {
   background-color: #e0ecef;
   border: 2px solid #dee2e6;
   border-spacing: 0;
   border-collapse: collapse;
   width: initial;
   margin: 2ex 0;
 }

#docContent table.table th,
#docContent table.informaltable th,
#docContent table.CALSTABLE th {
  background-color: #e9ecef;
  padding: 0.5ex 0.5ex;
}

#docContent table.table th[align="left"],
#docContent table.table td[align="left"] {
  text-align: left;
}

#docContent table.table th[align="center"],
#docContent table.table td[align="center"] {
  text-align: center;
}

#docContent table.table th[align="right"],
#docContent table.table td[align="right"] {
  text-align: right;
}

#docContent table.table th[valign="top"],
#docContent table.table td[valign="top"] {
  vertical-align: top;
}

#docContent table.table th[valign="middle"],
#docContent table.table td[valign="middle"] {
  vertical-align: middle;
}

#docContent table.table th[valign="bottom"],
#docContent table.table td[valign="bottom"] {
  vertical-align: top;
}

#docContent table.table td,
#docContent table.informaltable td,
#docContent table.CALSTABLE td {
  background-color: #FFF;
  padding: 0.5ex 0.5ex;
}

/** We use some overrides for code in tables, which makes it more readable */
#docContent table.table tt,
#docContent table.informaltable tt,
#docContent table.CALSTABLE tt,
#docContent table.table code,
#docContent table.informaltable code,
#docContent table.CALSTABLE code {
  background-color: inherit !important;
  color: inherit !important;
  font-size: inherit !important;
  margin: 0;
  padding: 0;
  word-break: unset;
}

#docContent table.table th.func_table_entry p,
#docContent table.table td.func_table_entry p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-left: 4em;
  text-align: left;
}

/** Formatting for entries in tables of catalog/view columns **/
#docContent table.table th.catalog_table_entry p,
#docContent table.table td.catalog_table_entry p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-left: 4em;
  text-align: left;
}

#docContent table.table th.catalog_table_entry p.column_definition {
  text-indent: -3.5em;
  word-spacing: 0.25em;
}

#docContent table.table td.catalog_table_entry p.column_definition {
  text-indent: -3.5em;
}

#docContent table.table p.column_definition code.type {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#docContent table.table td.catalog_table_entry pre.programlisting {
  background-color: inherit;
  border: 0;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  padding: 0;
  padding-left: 4em;
}

#docContent table.table p.func_signature {
  text-indent: -3.5em;
}

#docContent table.table td.func_table_entry pre.programlisting {
  background-color: inherit;
  border: 0;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  padding: 0;
  padding-left: 4em;
}

/**
 * Titles, Navigation
 */
#docContent .title {
  display: block;
}

#docContent .title:after {
  display: none;
}

#docContent h2.SECT2 tt,
#docContent .title code {
  background-color: inherit !important;
  color: inherit !important;
  font-size: inherit !important;
}

#docContent h2 code {
  font-size: inherit !important;
  margin-bottom: 0em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0em;
}

#docContent .NAVHEADER table th,
#docContent .navheader table th {
  text-align: center;
}

/**
 * Table of contents
 */
#docContent .TOC,
#docContent .toc {
  margin-bottom: 1rem;
}

#docContent div.TOC > dl > dd,
#docContent div.toc > dl > dd {
  margin-left: 2rem;
}

#docContent div.TOC > dl > dt.c2,
#docContent div.toc > dl > dt.c2 {
  font-weight: 400;
  margin-bottom: 1rem;
}

#docContent .TOC tt, #docContent .TOC dt a,
#docContent .toc tt, #docContent .toc dt a {
  font-weight: 400;
}

#docContent .TOC dd, #docContent .TOC dl,
#docContent .toc dd, #docContent .toc dl {
  margin: 0;
}

#docContent .TOC span.refpurpose,
#docContent .toc span.refpurpose {
  font-weight: normal;
}

/** Do not show any highlighting on code literals in TOC */
#docContent .TOC tt,
#docContent .toc code {
  background-color: inherit !important;
  color: inherit !important;
}

/**
  * Various callout boxes for docs, including warning, caution, note, tip
  */
#docContent table.CAUTION, table.WARNING,
#docContent blockquote.CAUTION, #docContent blockquote.NOTE, #docContent blockquote.TIP, #docContent blockquote.WARNING,
#docContent .caution, #docContent .note, #docContent .tip, #docContent .warning
{
  border-width: 1px;
  border-style: solid;
  font-style: initial;
  margin: 4ex auto;
  max-width: 40rem;
  padding: 1rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#docContent table.WARNING {
  border-color: #ced4da;
}

#docContent table.CAUTION, table.WARNING {
  display: block;
  overflow: auto;
  padding: 0;
}

#docContent table.CAUTION td, #docContent table.CAUTION th,
#docContent table.WARNING td, #docContent table.WARNING th {
  border-width: 0;
  padding-left: 2ex;
  padding-right: 2ex;
}

#docContent table.CAUTION td, #docContent table.CAUTION th {
  background-color: #fff3cd;
  border-color: #F3E4D5
}

#docContent table.WARNING td, #docContent table.WARNING th {
  background-color: #fff3cd;
  border-color: #FFD7D7;
}

#docContent table.CAUTION,
#docContent table.WARNING,
#docContent blockquote.CAUTION p:last-child,
#docContent blockquote.NOTE p:last-child,
#docContent blockquote.TIP p:last-child,
#docContent blockquote.WARNING p:last-child,
#docContent .caution p:last-child,
#docContent .note p:last-child,
#docContent .tip p:last-child,
#docContent .warning p:last-child
{
  margin-bottom: 0 !important;
}

#docContent blockquote.CAUTION,
#docContent table.CAUTION,
#docContent .caution {
  border-color: #e2b21f;
  background-color: #fff3cd;
}

#docContent blockquote.NOTE,
#docContent .note {
  border-color: #ced4da;
  background-color: #d1ecf1;
}

#docContent blockquote.TIP,
#docContent .tip {
  border-color: #84c578;
  background-color: #e8f7e6;
}

#docContent blockquote.WARNING,
#docContent .warning {
  background-color: #fbeded;
  border-color: #df421e;
}

#docContent blockquote.TIP h3, #docContent blockquote.NOTE h3, #docContent blockquote.CAUTION h3, #docContent blockquote.WARNING h3,
#docContent .tip h3, #docContent .note h3, #docContent .caution h3, #docContent .warning h3 {
  text-align: center;
  margin: 0.25rem 0 0.5rem 0;
  color: initial;
}

#docContent blockquote.WARNING td.c2, #docContent blockquote.WARNING td,
#docContent .warning td.c2, #docContent .warning td {
  border: 1px solid #d58181;
}

#docContent blockquote.WARNING td.c2,
#docContent .warning td.c2 {
  color: #495057;
  background-color: #fbeded;
}

#docContent blockquote.WARNING td.c2, #docContent blockquote.WARNING td,
#docContent .warning td.c2, #docContent .warning td {
  border: 1px solid #bd4147;
}

#docContent .warning td.c2 {
  background-color: #fbeded;
}

/**
 * Background color of code should be transparent
 */

#docContent table.WARNING code,
#docContent blockquote.NOTE code {
   background-color: transparent !important;
}

/**
 * Listing out variables
 */
#docContent .VARIABLELIST dt,
#docContent .variablelist dt {
  font-family: monospace;
  font-weight: 400;
}

#docContent .VARIABLELIST dt,
#docContent .variablelist dt {
  font-family: monospace;
  font-weight: 400;
}

#docContent .variablelist dd {
  margin-top: 1rem;
}

#docContent .VARIABLELIST dd,
#docContent .variablelist dd {
  margin-inline-start: 2rem;
}

#docContent ul.itemizedlist {
  margin-left: 2.5rem;
}

#docContent ul.itemizedlist > li > p {
  margin-left: 0 !important;
}

#docContent .VARIABLELIST p,
#docContent .variablelist p,
#docContent .VARIABLELIST pre,
#docContent .variablelist pre {
  margin: 1rem 0 1rem 2rem !important;;
}
/**
 * Footnotes
 */
#docContent .FOOTNOTES hr,
#docContent .footnotes hr {
  margin-bottom: 1.25rem;
}

/* #PGCONTENTWRAP */

#pgContentWrap a:not([href]):not([tabindex]),
#docContent a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  color: #336791 !important;
}

#pgContentWrap a, #docContent a {
  color: #840032;
}

#pgContentWrap {
  padding: 1em 2em;
  margin: 0 auto;
  width: 100%;
}

#pgContentWrap h3, #pgContentWrap h4 {
  margin: 1em 0;
}

#pgContentWrap .fa, #pgContentWrap .far, #pgContentWrap .fas, #pgContentWrap .fab {
  color: #336791;
  margin: 0 5px;
}

#pgContentWrap .logo-preview {
  max-width: 10% !important;
}

i.fas.fa-search {
  color: #336791;
}

/* #CODE */

pre {
  padding: 0.8rem;
  border: 1px solid #ced4da;
  margin: 1rem 0;
}

pre.code {
  padding: .2rem .4rem;
  font-size: 90%;
  border-radius: .25rem;
}

/* News and events getting markdown from end users */
#pgContentWrap .newseventwrap h1 {
  font-size: 1.2em;
}
#pgContentWrap .newseventwrap h2 {
  display: block;
  font-size: 1.1em;
}
#pgContentWrap .newseventwrap h3 {
  font-size: 1.0em;
}
#pgContentWrap strong.event-highlight {
  font-weight: 600;
}
hr.eventseparator {
  width: 80%;
  margin-bottom: 1em;
}


/* #STYLEDSELECT */

/**
* Used on mailinglists.html as part of the mailinglist subscribe functionality.
*/

.styledSelect, .styledInput {
  width: 100%;
  height: 34px;
  overflow: hidden;
  background-color: #fff;
  border: solid 2px #e7eae8;
}

.styledInput[name="search"] {
  width: 98%;
  height: 3.6em;
}

/* Buttons */

.btn {
  width: 14em;
  margin: 1em auto;
}

.btn-double-width {
  width: 28em;
}

.btn-center {
  text-align: center;
  display: block;
}

.btn-primary {
  background-color: #336791;
  border-color: #336791;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .btn:active:focus, .btn.active:focus {
  background-color: #666;
  border-color: #666;
  cursor: pointer;
}

.btn-inline-block {
  display: inline-block;
}

.form-row .btn-primary {
  margin: 0.5em 0;
}

button.btn.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: initial;
  margin: auto 0;
  height: 100%;
  cursor: pointer;
}

/* Input */

input.form-control {
  height: 2.5em;
  margin: auto 0;
}

input#q {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

input {
  padding-left: 0.5em;
}

input[type=checkbox] {
  vertical-align: middle;
  margin-left: 5px;
  width: auto;
}

input[type=checkbox]:focus {
  outline: none;
  box-shadow: none;
}

.custom-select {
  margin: 2px;
}

/* For the thread viewer, keep the width inline with the parent element */
#thread_select.custom-select {
  width: auto;
}

th.formfieldnamecontainer {
  padding-right: 1em;
}

.pgGenericFormTable input, .pgGenericFormTable textarea {
  margin: 0.5em 0;
}

.form-check div.describedcheckbox {
  margin-left: 3rem;
  font-style: italic;
}

.form-check-input[type=radio] {
  margin-top: .4rem;
}

.text-center.fixed-height h3 {
  height: 3.5em;
}

fieldset.form-group {
    border: 1px groove #ddd;
}
fieldset.form-group legend {
    width:inherit;
    padding-left: 1rem;
    padding-right: 1rem;
}

/** This code is for pgarchives */

/**
 * general navigation padding just for the archives; removable after the
 * universal notifier is available
 */
 .archive {
   margin-top: 4rem;
 }

/** Thread Lists */
.thread-list {
  font-size: 0.8em;
}

.thread-list th, .thread-list td {
  padding: 0;
}

/** Messages */

h3.messages {
  text-transform: none;
  font-size: 1.2em;
}

.message-header {
  font-size: 0.7em;
  line-height: 1.2em;
  padding-bottom: 0.3em;
}

.message-header th, .message-header td {
  padding: 0;
 }

.message-header select {
  height: auto;
  padding: 0;
}

.message-content {
  display: inline-block;
  font-family: monospace, monospace;
  font-size: 0.7em;
  line-height: 1.2em;
  margin: 0 auto;
  white-space: pre-wrap;
}

.message-content p {
  margin-bottom: -1.2em;
}

.message-responses {
  font-size: 0.7em;
  line-height: 1.5em;
}

.message-attachments, .message-nav {
  font-size: 0.7em;
  line-height: 1.2em;
}

/* Message Subjects */
h1.subject {
  text-transform: none;
  font-size: 1.2em;
}

/* Feature matrix */
form#featurematrix_version_filter {
  text-align: center;
}
input.featurematrix_version {
  margin-right: 15px;
}
input.featurematrix_version:last-child {
  margin-right: 0;
}
hr#featurematrix_version_divider {
  margin: 0;
}
td.fm_no {
  background-color: #ffdddd !important;
}
td.fm_yes {
  background-color: #ddffdd !important;
}
td.fm_obs {
  background-color: #ddddff !important;
}
td.fm_unk {
  background-color: #ffffaa !important;
}

/* Code of Conduct Committee */
table.cocc-table tbody tr td:nth-child(1) {
  width: 20%;
}

table.coc-report-table thead tr th:nth-child(1) {
  width: 50%;
}

/* Contributors */
table.contributor-table thead tr th {
  width: 50%;
}

/* News archive */
#pgContentWrap span.newstag {
    white-space: nowrap;
}
#pgContentWrap span.newstag a i.fa {
    color: white;
}
#pgContentWrap div.newsdate span.badge i.fa {
    color: white;
}
#pgContentWrap div.newstags {
    padding-bottom: 3rem;
}

/* Downloads/products */

.btn-download {
  border-color: #336791;
  border-width: 2px;
  color: #336791 !important;
}

.btn-download:hover {
  background-color: #e7eae8;
}

.download-subnav {
  display: none;
}

table.product-table thead tr th:nth-child(1) {
  width: 60%;
}
table.product-table thead tr th:nth-child(2) {
  width: 10%;
}
table.product-table thead tr th:nth-child(3) {
  width: 10%;
}
table.product-table thead tr th:nth-child(4) {
  width: 20%;
}

/* Downloads // yum */
li#dnfmodule {
  display: none;
}

/* Professional servies */
table.profserv-table tbody tr th {
  width: 20%;
}

/* Sponsors */
table.sponsor-table tbody tr th {
  width: 20%;
}
table.sponsor-table tbody tr td:nth-child(2) {
  width: 50%;
}
table.sponsor-table tbody tr td:nth-child(3) {
  width: 30%;
}

/**
* This sets the rule for the rendering in the sponsors table. The name is chosen
* to ensure compatibility with various browser plugins that may otherwise hide
* images.
**/
img.organisation-logo {
  max-height: 65px;
  max-width: 150px;
}

/** Release Notes */
#release-notes .navheader,
#release-notes .navfooter,
#release-notes .NAVHEADER,
#release-notes .NAVFOOTER,
#release-notes .titlepage,
#release-notes h1.SECT1,
#release-notes .toc {
  display: none;
}

#release-notes .version-list h2:after {
  content: none;
}

.release-notes-list {
  list-style-type: none;
}

.release-notes-list :not(.collapsed) > .right,
.release-notes-list .collapsed > .down {
  display: none;
}

.release-notes-list .collapsed > .right,
.release-notes-list :not(.collapsed) > .down {
  display: block;
}

/* Moderation preview */
.moderation-mdpreview-wrap {
    max-width: 650px;
}


/** ALL RESPONSIVE QUERIES HERE */
/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 1280px) {
  input#q {
    display: none;
  }
   #docSearchForm input#q {
    display: block;
  }
}

@media (max-width: 992px) {
  .archive {
    margin-top: 2rem;
  }
  .navbar {
    padding: 5px 10px;
  }
  .navbar-toggler-icon {
    width: 1rem;
    height: 1.5rem;
  }
  #docContent table.table {
    font-size: 70%;
  }
}

@media (max-width: 768px) {

  .jumbotron.jumbotron-fluid.pg-jumbotron {
    padding: 4em;
  }

  .pg-jumbotron .btn, button.btn.btn-primary {
    margin: 5px auto;
  }

  .text {
    height: initial;
  }

  .cta-text {
    padding: 4em;
  }

  .cta {
    padding: 6em;
  }

  ul.divided, ul.menu, #footer ul {
    padding: 0;
    text-align: center;
  }

  ul.feature {
    padding: 0 0 1em 0 !important;
  }

  .feature-grid {
    padding: 0;
  }

  #pgSideNav {
    padding: 1em 0;
  }

  #pgSideNav ul {
    padding: 0;
    margin: 1em 0 0 1em;
  }

  #pgSideNav ul ul {
    margin: 0;
  }

  #pgContentWrap {
    padding: 0;
  }

  #pgContentWrap ul {
    padding-left: 1em;
  }

  #docContent table.table {
    font-size: 50%;
  }

}

@media (min-width: 576px) {
  /** NAVBAR */
  .nav-item > a {
    font-size: 0.95rem;
  }
}
@media (max-width: 575px) {
  /** HOMEPAGE JUMBOTRON */
  .pg-jumbotron-header {
    font-size: 1.5rem;
  }

  .btn-double-width {
    width: 18em;
  }
}

/* Script copy buttons */
.pg-script-container {
  position: relative;
}

.pg-script-copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.nobr {
  white-space: nowrap;
}

/* media/css/normalize.css */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 2; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

