  <form name="formulario" method="post" action="031.php">
Numero1: <input type="text" name="numero" value=""><br>
Numero2: <input type="text" name="numero2" value=""><br>
<select name="operacions">
  <option value="+" name="suma">+</option>
  <option value="-" name="resta">-</option>
  <option value="*" name="mult">*</option>
  <option value="/" name="div">/</option>
</select>
<input type="submit"/>
</form>
